@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*header*/

header div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 25px;
    margin-right: 25px;
}

header .lien-pages{
    text-decoration: none;
    color: white;
}

header .lien-pages:hover{
    color: #FE490A;
    border: 1px solid black;
    border-radius: 24px;
    background-color: white;
    padding: 8px;
    font-size: 16px;
}

header img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 4px;
}

header{
    background-color: #FE490A;
}

h1{
    color: white;
}

/* Main */

h2{
    font-size: 30px;
    color: #FE490A;
}

/* nav */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.div-ul-nav{
    display: flex;
    flex-direction: column;
    border: 1px dashed #FE490A;
    border-radius: 25px;
}

.div-ul-nav h2{
    text-align: center;
    color: grey;
    font-size: 26px;
}

.div-ul-nav a{
    text-decoration: none;
    color: #FE490A;
}

.div-ul-nav li{
    margin-top: 32px;
    padding-right: 30px;
}

/* section langage-html */

.langage-html h3{
    color: #FE490A;
}

em{
    color: #FE490A;
    font-style: normal;
    font-weight: bold;
}

.langage-html{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    color: grey;
}

code{
    color: black;
    font-size: 16px;
    border: 1px solid red;
    background-color: blanchedalmond;
}

/* section structure-html */

.structure-html{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    color: grey;
}

.structure-html img{
    width: 60%;
    border-radius: 5px;
    border: 4px solid red;
}

/* section langage-css */

.langage-css{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    color: grey;
}

/* section syntaxe-exemple-css */

.syntaxe-exemple-css{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    color: grey;
}

.syntaxe-exemple-css img{

    width: 35%;
    border: 1px dotted #FE490A;
    border-radius: 25px;
}

.span-syntaxe-css{
    font-weight: bold;
}

.span-exemple-css{
    background-color: #E1E1E1;
    color: #FE490A;
}

/* footer */

footer p{
    text-align: center;
    color: grey;
}

@media (max-width: 1180px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 780px){

    header{
        display: flex;
        flex-direction: column;
    }

    .structure-html img{
        width: 90%;
    }

    .syntaxe-exemple-css img{
        width: 60%;
    }

}

@media (max-width: 476px) {

    header ul{
        display: flex;
        flex-direction: column;
    }

    .structure-html img{
        width: 100%;
    }

    .syntaxe-exemple-css img{
        width: 80%;
    }
    
}